<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <script src="~/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <main class="container">
        @RenderBody()
    </main>
    <footer><a href="https://darksky.net/poweredby/">Powered by Dark Sky</a></footer>
</body>
</html>
