@{
    ViewData["Title"] = "Find Historical Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WaybackWeather.Models.InputRequest

<script>
    $(function () {
        $("form").submit(function (event) {
            event.preventDefault();
            $("#response").addClass("well");
            $("#response").html("<p>Using Wayback Weather Machine...</p>");
            $.ajax({
                type: "POST",
                url: '@Url.Action("RequestPartial", "InputRequest")',
                data: $(this).serialize(),
                datatype: 'json',
                success: function (response) {
                    $("#response").html(response);
                }
            })
        })
    })
</script>

<h1>Find Historical Data</h1>
<hr />
<form asp-controller="InputRequest" asp-action="NewRequest" class="row">
    <div class="form-group col-xs-12 col-md-6">
        <label asp-for="Location"></label>
        <input asp-for="Location" type="text" class="form-control" required/>
    </div>
    <div class="form-group col-xs-12 col-md-6">
        <label>Date</label>
        <input type="date" name="dateString" class="form-control" required/>
    </div>
    <div class="col-xs-12">
        <button type="submit" class="btn">Submit</button>
    </div>
</form>

<div id="response"></div>