<p>Data for @ViewBag.Weather["foundLocation"]:</p>
<p>@ViewBag.Weather["summary"]</p>
<p>The high was @ViewBag.Weather["temperatureMax"]°F and the low was @ViewBag.Weather["temperatureMin"]°F.</p>
       